---
layout: default
title: "the barthel laboratory"
categories:
 - home
---
<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
     	<p class="smallhead">
        Welcome to the Barthel Laboratory. Set to the backdrop of the stunning <a href="https://en.wikipedia.org/wiki/Sonoran_Desert">Sonoran Desert</a> in Arizona, we utilize state-of-the-art genomic approaches such as long-read sequencing and spatial transcriptomics to study the development and evolution of glial brain tumors (gliomas). The lab has a particular interest in the fundamental role of telomere dysfunction in tumor development, but is generally interested in all aspects of tumor evolution. Other interests include (but are not limited to) longitudinal studies of therapy response assessed by genomic analyses of tissue samples and liquid biopsies.</p>
     	<p class="smallhead">
     	Read more about our <a href="/research/">research</a>.
     	</p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% capture _ %}{% increment n_positions %}{% endcapture %}
{% for position in site.categories.join %}
	{% if position.status == "open" %}
		{% capture _ %}{% increment n_positions %}{% endcapture %}
	{% endif %}
{% endfor %}
{% if n_positions > 1 %}
	{% assign open_position = true %}
	{% assign col_width = "col-md-4" %}
{% else %}
	{% assign open_position = false %}
	{% assign col_width = "col-md-6" %}
{% endif %}

<div class="row">
	<div class="{{ col_width }}">
		<div class="head">
			<a class="off" href="/news/">News</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">
			{% for news in site.categories.news limit:4 %}
			
				{% for member in site.categories.team %}
					{% if member.title == news.author %}
						{% assign author = member %}
					{% endif %}
				{% endfor %}		
				
				<div class="note-title">
					<i class="fa fa-bullhorn fa-fw"></i>
					<a class="off" href="{{ news.url }}">
					{{ news.title }}
					</a>
				</div>
				<div class="note">
					{{ news.excerpt | remove: '<p>' | remove: '</p>' }}
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ news.date | date_to_string }}
					{% if author %}
					by <a class="off" href="{{ author.url }}">{{ author.title }}</a>
					{% endif %}						
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	<div class="{{ col_width }}">
		<div class="head">
			<a class="off" href="/publications/">Publications</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">		
			{% for paper in site.categories.publications limit:4 %}
				<div class="note-title">
					<i class="fa fa-file-text-o fa-fw"></i>
					{% if paper.preprint %}
					Preprint: 
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					{% else %}
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
					{% endif %}
					<br/>
					<div class='shortref note'>
					{{ paper.shortref }}
					</div>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					{% if paper.preprint %}
					Posted
					{% else %}
					Published
					{% endif %}
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
    {% if n_positions > 1 %}
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/join/">Open positions</a>
		</div>
		<div class="bigspacer"></div>
		<div class="feedbox pad-left">		
			{% for position in site.categories.join limit:4 %}
			{% if position.status == "open" %}
				<div class="note-title">
					<i class="fa fa-arrow-circle-right"></i>
					<a class="off" href="{{ position.url }}">
						{{ position.title }}
						{% if position.subtitle %}<i class="note">({{ position.subtitle }})</i>{% endif %}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Open - Posted
					{{ position.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>
			{% endif %}					
			{% endfor %}
		</div>
		<div class="bigspacer"></div>		
	</div>
	{% endif %}
</div>

<div class="bigspacer"></div>
