---
layout: default
title: join us
categories:
 - join
---

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Join our team</h1>
    <p>
      We are always seeking creative and motivated individuals who are passionate about science to strengthen our team! In return we will provide you with a diverse, fun and collaborative research environment. You will have the opportunity to work on highly exciting questions in telomere dysfunction and glioma evolution while being at the forefront of innovation in science. The listed positions are meant to serve as guidelines and prospective candidates are encouraged to reach out to <a href="/team/floris-barthel/">Floris</a> directly with any questions.
    </p>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>Open positions</h2>
    <ul>
      {% for position in site.categories.join %}
      {% assign i = 0 %}
      {% if position.status == "open" %}
      {% assign i = i | plus:1 %}
      <li><a href="{{ position.url }}" class="off">{{ position.title }} {% if position.subtitle %}({{ position.subtitle }}){% endif %}</a></li>
      {% endif %}
      {% endfor %}
      {% if i == 0 %}
      No open positions. Please enquire with <a href="/team/floris-barthel/">Floris</a>  directly.
      {% endif %}
    </ul>
    <p>Read more about our <a href="/research/">research interests</a> and/or have a look at some older job postings to get an idea of the work currently being done in the lab:</p>
    <h2>Closed positions</h2>
    <ul>
      {% for position in site.categories.join %}
      {% if position.status == "closed" %}
      <li><a href="{{ position.url }}" class="off">{{ position.title }} {% if position.subtitle %}({{ position.subtitle }}){% endif %}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>
