<!-- OpenGraph Cards -->
<meta property="og:title" content="{% if page.title == site.title %}{{ page.title }} - {{ site.description }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">

<!-- Twitter Cards -->
{% if page.videofeature %}

<meta name="twitter:card" content="player">

{% if page.videocredit %}
<meta name="twitter:site" content="@{{ page.videocredit }}">
{% else %}
<meta name="twitter:site" content="@youtube">
{% endif %}


{% if page.videoimage %}
<meta name="twitter:image" content="{{ page.videoimage }}">

{% elsif page.imagefeature %}

{% if page.imagefeature contains 'http' %}
{% assign domain = '' %}
{% else %}
{% assign domain = site.url %}
{% endif %}

<meta name="twitter:image" content="{{ domain }}{{ page.imagefeature }}">

{% else %}
<meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

{% if page.videofeature contains 'http' %}
{% assign domain = '' %}
{% else %}
{% assign domain = site.url %}
{% endif %}

<meta name="twitter:player" content="{{ domain }}{{ page.videofeature }}">
<meta name="twitter:player:width" content="1920">
<meta name="twitter:player:height" content="1080">

{% elsif page.image %}

{% if page.image contains 'http' %}
{% assign domain = '' %}
{% else %}
{% assign domain = site.url %}
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:image" content="{{ domain }}{{ page.image }}">

{% else %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:image" content="{% if page.imagesummary %}{{ site.url }}{{ page.imagesummary }}{% else %}{{ site.url }}{{ site.logo }}{% endif %}">

{% endif %}