---
layout: default
title: jobs
categories:
 - jobs
---

<div class="row">
  <div class="col-lg-12">
    <h1>Join our team</h1>
    <p>
      We are always seeking creative and motivated individuals who are passionate about science to strengthen our team! In return we will provide you with a diverse, fun and collaborative research environment. You will have the opportunity to work on highly exciting questions in telomere dysfunction and glioma evolution while being at the forefront of innovation in science.
    </p>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-lg-12">
    <h2>Open positions</h2>
    <ul>
      {% for member in site.categories.jobs reversed %}
      <li><a href="{{ member.url }}" class="off">{{ member.title }} {% if member.subtitle %}({{ member.subtitle }}){% endif %}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
