---
layout: default
---

<div class="row">
	<div class="col-lg-3">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{ page.image }}">
			{% endif %}
		</div>
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="smallhead">
				Date Posted
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				{{ page.date | date: "%-d %b %Y" }}
			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			<div class="smallhead">
				Status
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				{{ page.status }}
			</div>
		</div>
		<div class="bigspacer"></div>
		{% if page.pdf %}
		<div class="glyphbox note">
			<div class="smallhead">
				PDF
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.pdf }}">Job posting (PDF)</a>
			</div>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		<div class="glyphbox note">
			<div class="smallhead">
				Apply for this position
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="https://recruiting.paylocity.com/Recruiting/Jobs/Details/{{ page.jobid }}">Details</a>
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="https://recruiting.paylocity.com/Recruiting/Jobs/Apply/{{ page.jobid }}">Apply now</a>
			</div>
			<div class="bigspacer"></div>
		</div>


		<div class="bigspacer"></div>

		
	</div>
	<div class="col-lg-8">
		<div class="media-body titlebox">
			<div class="title media-heading">
				{{ page.title }}
			</div>
			<div class="smallhead">
				{{ page.subtitle }}
			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-lg-1"></div>
</div>