---
layout: default
---

<div class="blog-post">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			<div class="media">
				<div class="media-body">
					<div class="title media-heading">
						<a href="{{ page.url }}" class="off">{{ page.title }}</a>
					</div>
					<p>
					<div class="smallhead">
						{{ page.date | date: "%-d %b %Y" }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>

	<div class="bigspacer"></div>

	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10">
			{% if page.image %}
			{% assign image_alt = page.image_alt | default: page.title %}
			{% if page.link %}
			<a href="{{ page.link }}">
				<img class="offset" src="{{ page.image }}" alt="{{ image_alt | escape }}">
			</a>
			{% else %}
			<img class="offset" src="{{ page.image }}" alt="{{ image_alt | escape }}">
			{% endif %}
			{% endif %}
			<div class="post">
				{{ content | link_member_names }}
			</div>
			{% include tag-list.html item=page %}
		</div>
		<div class="col-lg-1"></div>
	</div>

	<div class="bigspacer"></div>
	<div class="spacer"></div>

</div>
